body{
	font-family: 'Bebas Neue', arial;
}

.maxWidth{
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

.header{
	height: 80px;
}

.header>ul{
	height: 100%;
}

.itemHeader{
	float: left;
	height: 100%;
}

.itemHeader:first-child{
	width: 20%;
	position: relative;
}

.itemHeader:first-child>h1{
	font-family: 'Lobster', arial;
	font-size: 49px;
	color: #3cc3b5;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

.itemHeader:nth-child(2){
	width: 60%;
	position: relative;
}

.itemHeader:last-child{
	text-align: right;
	width: 20%;
}

.itemHeader:last-child>div{
	height: 100%;
	width: 100%;
	position: relative;
	display: inline-block;
}

.basket{
	float: left;
	width: 40%;
	font-size: 33px;
	color: #a1a1a1;
	margin: 20px 0 0 0;
	text-align: left;
}

.imgBasket{
	float: left;
	width: 60%;
	height: 100%;
}

.imgBasket>a{
	width: 100%;
	height: 100%;
	display: block;
	background: url('../img/basket.jpg') no-repeat;
	background-position: 85% 45%;
}

.itemHeader:nth-child(2)>form{
	width: 80%;
	height: 30px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search{
	border: 1px solid #e3e3e3;
	border-right: none;
	height: 100%;
	box-sizing: border-box;
	width: 95%;
}

.iconSearch{
	border: 1px solid #e3e3e3;
	border-left: none;
	background: url('../img/pic_search.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 85%;
	height: 100%;
	width: 5%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	margin-left: -2px;
}

.menu{
	background: #4ccfc1;
	box-shadow: 0 1px 1px -1px rgba(0,0,0,.8);
}

.menu>ul{
	width: 80%;
	margin: 0 auto;
}

.itemMenu{
	float: left;
	width: 10%;
	margin: 10px 0;
}

.itemMenu>a{
	display: inline-block;
	width: 92%;
	color: #fff;
	text-align: center;
}

.itemMenu:after{
	content:'|';
	display: block;
	color: #fff;
	width: 8%;
	height: 100%;
	float: left;
}

.itemMenu:first-child:after{
	content:'';
}

.mobMenu{
	display: none;
	color: #fff;
	font-size: 40px;
}

.hiddenMenu{
	display: none;
}

.hiddenItemMenu{
	font-size: 20px;
	padding: 10px 0;
}

.hiddenItemMenu>a{
	color: #fff;
	display: block;
}

#slider{
	height: 460px;
	background: #40c5b2;
	color: #fff;
}

#slider>div{
	/*padding-top: 65px;*/
	padding-top: 6%;
	height: 80%;
}

.sliderSide{
	float: left;
	height: 100%;
}

.sliderSide:first-child{
	width: 47%;
	position: relative;
}

.sliderSide:nth-child(2){
	width: 53%;
}

.sliderSide>img{
	display: block;
	/*margin-left: 26%;*/
	position: absolute;
	top: 0;
	right: 65px;
}

.sliderText>h1{
	min-width: 335px;
	width: 61%;
	font-size: 61px;
	margin: 0;
	line-height: 1;
	font-weight: 100;
}

.sliderText>p{
	min-width: 410px;
	width: 75%;
	font-family: 'Times New Roman CE', arial;
	font-size: 17px;
	margin: 20px 0;
	line-height: 1.5;
}

.btnSlider{
	font-size: 27px;
	padding: 5px 25px;
	background: rgba(0,0,0,0);
	border: 3px solid #fff;
	border-radius: 10px;
	transition: background .3s;
}

.btnSlider:hover{
	background: #4CCFC1;
}

.bubbles{
	margin-top: 45px;
}

.bubbles>li{
	float: left;
	margin: 0 4px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #fff;
}

.bubbles>li:first-child{
	margin: 0 4px 0 0;
}

#smallSlider{
	height: 190px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,1.3);
	position: relative;
}

.btnSmallSlider{
	height: 100%;
	width: 62px;
	position: absolute;
	top: 0;
	cursor: pointer;
	background-size: 100%;
}

#smallSlider>.btnSmallSlider:first-child{
	left: 0;
	background: url('../img/pic_left.jpg') no-repeat;
	background-position: 100% 50%;
}

#smallSlider>.btnSmallSlider:last-child{
	right: 0;
	background: url('../img/pic_right.jpg') no-repeat;
	background-position: 0 50%;
}

.show{
	height: 100%;
}

.show>ul{
	height: 100%;
	margin: 0;
}

.itemSmallSlider{
	float: left;
	width: 33.2%;
	height: 100%;
	border-right: 1px solid #afafaf;
	box-sizing: border-box;
}

.itemSmallSlider:last-child{
	border-right: none;
}

.itemSmallSlider>a{
	display: block;
	height: 100%;
}

.itemSmallSlider>a>div{
	height: 100%;
}

.itemSmallSlider>a>div>div{
	float: left;
	height: 100%;
	/*width: 50%;*/
}

.itemSmallSlider>a>div>.imgShopPage{
	width: 55%;
}

.itemSmallSlider>a>div>.txtShopPage{
	width: 45%;
}

.itemSmallSlider:first-child>a>div>.imgShopPage{
	background: url('../img/img1_smallSlider.png') center no-repeat;
	background-size: 100% auto;
}

.itemSmallSlider:nth-child(2)>a>div>.imgShopPage{
	background: url('../img/img2_smallSlider.png') center no-repeat;
	background-size: 100% auto;
}

.itemSmallSlider:nth-child(3)>a>div>.imgShopPage{
	background: url('../img/img3_smallSlider.png') center no-repeat;
	background-size: 100% auto;
}

.txtShopPage>h3{
	/*min-width: 140px;*/
	width: 92%; 
	font-size: 27px;
	color: #afafaf;
	margin: 0;
	padding: 50px 0 20px 0;
	line-height: 1;
}

.smlBtn{
	background: #3cc395;
	color: #fff;
	padding: 5px 15px;
	font-size: 19px;
	border: none;
	border-radius: 3px;
	transition: background .3s;
}

.smlBtn:hover{
	background: #4CCFC1;
}

.hiddenSmallSlider{
	display: none;
	height: 100%;
	margin: 0;
}

.nameShopPage{
	background: #40c5b2;
}

.nameShopPage>h1{
	color: #fff;
	font-size: 31px;
	padding: 20px 0;
}

.shopPage>ul{
	padding-top: 50px;
}

.itemShop{
	margin: 0 4.8% 4% 0;
	float: left;
	width: 28.13%;
	height: 20vw;
	border: 1px solid #e4e4e4;
	border-bottom: 4px solid #3cc395;
	box-shadow: 0 .3px 3px rgba(228,228,228,0.3);
}

.itemShop>a{
	display: block;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.imgShopPage{
	width: 100%;
	/*height: 140px;*/
	height: 60%;
}

.itemShop:first-child>a>.imgShopPage{
	background: url('../img/img1_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop:nth-child(2)>a>.imgShopPage{
	background: url('../img/img2_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop:nth-child(3)>a>.imgShopPage{
	background: url('../img/img3_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop:nth-child(4)>a>.imgShopPage{
	background: url('../img/img4_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop:nth-child(5)>a>.imgShopPage{
	background: url('../img/img5_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop:nth-child(6)>a>.imgShopPage{
	background: url('../img/img6_page.png') no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.itemShop>a>h3{
	font-size: 27px;
	color: #afafaf;
	margin: 0;
}

.btn>button{
	background: #3cc395;
	color: #fff;
	padding: 5px 12px;
	font-size: 20.19px;
	border: none;
	border-radius: 3px;
	transition: background .3s;
}

.btn>button:hover{
	background: #4CCFC1;
}

.btn:before{
	content:'$300';
	color: #afafaf;
	font-size: 27px;
	margin-right: 15px;
}

.footer{
	background: #3cc3b5;
}

.itemFooter{
	float: left;
	width: 25%;
	color: #fff;
}

.itemFooter>h3{
	font-size: 27px;
	font-weight: 100;
}

.itemFooter>ul{
	padding-bottom: 40px;
}

.itemFooter>ul>li{
	font-family: 'Times New Roman CE', arial;
	font-size: 15px;
	margin: 5px;
}

.itemFooter>ul>li>a{
	display: block;
	color: #fff;
}

.copyright{
	font-family: 'Times New Roman CE', arial;
	font-size: 15px;
	padding: 10px 0;
	margin: 0;
	color: #fff;
	text-align: center;
	background: #2da89b;
}

@media all AND (max-width:960px){
	.itemMenu>a{
		font-size: 14px;
	}
	
	.menu>ul:first-child{
		display: none;
	}
	
	.menu{
		text-align: right;
	}
	
	.mobMenu{
		display: block;
	}
	
	/*.hiddenMenu{
		display: block;
	}*/
	
	.sliderText>h1{
		min-width: 0;
		width: 100%;
		font-size: 57px;
	}

	.sliderText>p{
		min-width: 0;
		width: 100%;
		font-size: 17px;
	}
	
	.itemShop>a>h3{
		font-size: 20px;
	}

	.btn>button{
		padding: 3px 9px;
		font-size: 16px;
	}

	.btn:before{
		font-size: 20px;
		margin-right: 15px;
	}
}

@media all AND (max-width:830px){
	#slider{
		height: 370px;
	}
	
	.sliderSide>img{
		width: 80%;
		right: 40px;
	}
	
	.sliderText>h1{
		font-size: 45px;
	}

	.sliderText>p{
		font-size: 14px;
	}
	
	.btnSlider{
		font-size: 22px;
		padding: 3px 22px;
		border: 2.5px solid #fff;
		border-radius: 8px;
	}
	
	.txtShopPage>h3{
		width: 100%; 
		font-size: 23px;
		padding: 50px 0 10px 0;
	}

	.smlBtn{
		padding: 5px 10px;
		font-size: 15px;
	}
}

@media all AND (max-width:760px){
	.itemHeader:first-child>h1{
		font-size: 40px;
	}
	
	.basket{
		font-size: 28px;
	}
	
	.itemHeader:nth-child(2)>form{
		width: 100%;
	}
	
	#slider{
		height: 330px;
	}
	
	.sliderSide>img{
		right: 10px;
	}
	
	.sliderText>h1{
		font-size: 40px;
	}

	.sliderText>p{
		font-size: 12px;
	}
	
	.btnSlider{
		font-size: 18px;
		padding: 2px 20px;
		border: 2px solid #fff;
		border-radius: 6px;
	}
	
	.bubbles{
		margin-top: 35px;
	}

	.bubbles>li{
		margin: 0 3px;
		width: 6px;
		height: 6px;
		border-radius: 3px;
	}
	
	.nameShopPage>h1{
		font-size: 26px;
		padding: 15px 0;
	}
	
	.itemShop>a>h3{
		font-size: 18px;
	}

	.btn>button{
		padding: 3px 6px;
		font-size: 14px;
	}

	.btn:before{
		font-size: 18px;
		margin-right: 13px;
	}
	
	.itemFooter>h3{
		font-size: 24px;
	}

	.itemFooter>ul{
		padding-bottom: 30px;
	}

	.itemFooter>ul>li{
		font-size: 13px;
		margin: 4px;
	}
	
	.copyright{
		font-size: 13px;
		padding: 8px 0;
	}
}

@media all AND (max-width:660px){
	.itemHeader:first-child{
		width: 50%;
		text-align: center;
	}
	
	.itemHeader:nth-child(3){
		width: 50%;
	}
	
	.itemHeader:first-child>h1{
		font-size: 40px;
	}
	
	.basket{
		font-size: 28px;
	}
	
	.itemHeader:nth-child(2){
		display: none;
	}
	
	#smallSlider{
		height: 160px;
	}
	
	.itemShop{
		margin: 0 4.8% 4% 0;
		width: 44%;
		height: 38vw;
	}
	
	.itemFooter>h3{
		font-size: 22px;
	}

	.itemFooter>ul{
		padding-bottom: 25px;
	}

	.itemFooter>ul>li{
		font-size: 12px;
	}
	
	.copyright{
		font-size: 11px;
		padding: 6px 0;
	}
}

@media all AND (max-width:610px){
	#slider{
		height: 280px;
	}
	
	.sliderText>p{
		margin: 10px 0;
	}
	
	.bubbles{
		margin-top: 25px;
	}
	
	.btnSlider{
		padding: 2px 15px;
	}
	
	.show>ul:first-child{
		display: none;
	}
	
	.hiddenSmallSlider{
		display: block;
	}
	
	.itemSmallSlider{
		width: 50%;
	}
	
	.nameShopPage>h1{
		font-size: 23px;
		padding: 13px 0;
	}
}

@media all AND (max-width:560px){
	#slider{
		height: 230px;
	}
	
	.sliderText>h1{
		margin-bottom: 20px;
		font-size: 35px;
	}
	
	.sliderText>p{
		display: none;
	}
	
	.btnSmallSlider{
		width: 32px;
		background-size: 80%;
	}
	
	#smallSlider{
		height: 140px;
	}
	
	.txtShopPage>h3{
		padding: 35px 0 20px 0;
	}
	
	.itemFooter{
		width: 50%;
	}
}

@media all AND (max-width:440px){
	#slider{
		height: 230px;
	}
	
	.sliderText>h1{
		font-size: 30px;
	}

	.btnSlider{
		font-size: 15px;
		padding: 2px 15px;
		border: 1px solid #fff;
		border-radius: 3px;
	}
	
	.btnSmallSlider{
		width: 28px;
	}
	
	.txtShopPage>h3{
		font-size: 18px;
	}
	
	.nameShopPage>h1{
		font-size: 20px;
		padding: 10px 0;
	}
}

@media all AND (max-width:400px){
	.itemShop{
		margin: 0 0 6% 0;
		float: none;
		width: 100%;
		height: 65vw;
	}
}